<div id="create">
  <div class="container">
    <div class="row">
      <div class="col-10 offset-1">
        <h2>edit page</h2>
        <a href="/admin">Admin</a>
      </div>
    </div>
    <div class="row">
     <form class="col-6 offset-3" id="edit_form" action="POST">
         {{#project}}
    <div class="form-group">
        <input type="hidden" id="proj_id" name="proj_id" value="{{this.project_id}}">
        <label for="title">Project title</label>
        <input type="text" class="form-control" id="edit_proj_title" aria-describedby="emailHelp" value="{{this.title}}">
    </div>
    <div class="form-group">
        <label for="short_desc">Short Description</label>
        <input type="text" class="form-control" id="edit_short_desc" value="{{this.shortDesc}}">
    </div>
    <div class="form-group">
        <label for="long_desc">Long Description</label>
        <textarea class="form-control" id="edit_long_desc" rows="10">{{this.longDesc}}</textarea>
    </div>
    <div class="form-group">
        <label for="proj_op">Poject Opportunities</label>
        <textarea class="form-control" id="edit_proj_op" rows="10">{{this.projectOps}}</textarea>
    </div>
    <div class="container">
        <h5 id="radio_label">Select Project type</h5>
    </div>
    <div class="form-group">
        <label for="project_type">Team or Solo Project</label>
        <input type="text" class="form-control" id="project_type" value="{{this.projectType}}">
    </div>
    <div class="form-group">
        <label for="build_items">Items used for construction</label>
        <input type="text" class="form-control" id="edit_build_items" value="{{this.buildItems}}">
    </div>
    <div class="form-group">
        <label for="launch_link">Launch link to working project</label>
        <input type="text" class="form-control" id="edit_launch_link" value="{{this.launchLink}}">
    </div>
    <div class="form-group">
        <label for="git_link">Git link to repo</label>
        <input type="text" class="form-control" id="edit_git_link" value="{{this.gitLink}}">
    </div>
    <div class="form-group">
        <label for="data_link">Data link to open large view</label>
        <input type="text" class="form-control" id="edit_data_link" value="{{this.dataLink}}">
    </div>
    <div class="form-group">
        <label for="svg_link">Small image svg</label>
        <input type="text" class="form-control" id="edit_svg_link" value="{{this.svgLink}}">
    </div>
    <div class="form-group">
        <label for="img_link">Large image jpeg</label>
        <input type="text" class="form-control" id="edit_img_link" value="{{this.imgLink}}">
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-dark mt-3" id="project_edit" data-submit="">Submit</button>
    </div>
    {{/project}}
</form>
    </div>
  </div>
</div>