<header id="page-home" class="site-header">
  <nav class="site-nav family-sans navbar navbar-expand-md bg-white navbar-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#home">Ray Turd</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <section class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link" href="#page-home">home</a>
          <a class="nav-item nav-link" href="#page-about">about</a>
          <a class="nav-item nav-link" href="#page-projects">projects</a>
          <a class="nav-item nav-link" href="#page-contact">contact</a>
        </div>
      </section>
    </div>
  </nav>
  <section class="layout-home jumbotron jumbotron-fluid d-flex align-items-center mt-5 text-reverse">
    <div class="container text-center">
      <div class="row justify-content-center">
        <div id="intro" class="col-11 col-sm-10 col-md-8 animated fadeInUp">
          <h3 class="page-section-title mt-4">Hello, my name is Ray.</h3>
          <p class="page-section-text lead">Full Stack Web Developer with extensive experience in the creative industries.
          </p>
        </div>
      </div>
    </div>
  </section>
</header>

<article id="page-about" class="page-section vertical-padding">
  <header class="page-section-header container text-center">
    <h2 class="page-section-title display-4 pt-4 text-center">About</h2>
    <p class="page-section-text lead mx-md-5">
      Producing creative solutions to solve creative problems is what I do best.<br/> I use JavaScript, CSS, Node,
      and PHP to create these solutions. I can get databases and servers to do what they're supposed to do. I like writing semantic markup that is documented and easy to read so it can be easily maintained and scaled, as well as focusing on creating a great user experience.
      <br/><br/> As a full stack developer, I am also very adept at designing. Knowledge of Illustrator and Photoshop allows me to efficiently transform artwork into interactive, concise and functional interfaces.<br/><br/>
      I can quickly join your team using tools such as Git, Agile/Scrum, and test driven development.
    </p>
  </header>
</article>

<article id="page-projects" class="page-section vertical-padding">
  <header class="page-section-header container text-center">
    <h2 class="page-section-title display-4 pt-4 text-center">Projects</h2>
  </header>
  <section class="layout-multicolumn container family-sans text-center py-4">
    <div class="row justify-content-center py-2">
      {{#each project}} {{#if solo}}
      <section class="project mb-5 col-md-4">
        <a href="/project/{{this.project_id}}">
          <img class="layout-image img-fluid rounded" src="images/thumbs/{{this.svgLink}}" alt="sample image">
        </a>
        <h5 class="layout-title mt-1">{{this.title}}</h5>
      </section>
      {{/if}} {{/each}}
    </div>
  </section>

{{#each project}} {{#unless solo}}
  <section class="layout-multicolumn container family-sans text-center py-4">
    <h4 id="team">Team Projects</h4>
    <div class="row justify-content-center py-2">
      <section class="project mb-5 col-md-4">
        <a href="/project/{{this.project_id}}">
          <img class="layout-image img-fluid rounded" src="images/thumbs/{{this.svgLink}}" alt="sample image">
        </a>
        <h5 class="layout-title mt-1">{{this.title}}</h5>
      </section>
    </div>
  </section>
  {{/unless}} {{/each}}

</article>

<article id="page-contact" class="page-section vertical-padding">
  <header class="page-section-header container text-center">
    <h2 class="page-section-title display-4 pt-4 text-center">Contact</h2>
    <p class="page-section-text lead mx-md-5 ">
      If you would like to build something together, or have any questions, feel free, I'm always interested and excited for new opportunities.
    </p>
  </header>
</article>

<footer class="site-footer bg-reverse">

  <div class="layout-social container py-5 d-flex justify-content-center">
    <a class="text-reverse px-4" href="https://github.com/becoskie">
      <i class="fab fa-github"></i>
    </a>
    <a class="text-reverse px-4" href="https://www.linkedin.com/in/rbecoskie/">
      <i class="fab fa-linkedin"></i>
    </a>
    <a class="text-reverse px-4" href="mailto:ray@becoskie.com">
      <i class="far fa-envelope"></i>
    </a>

  </div>

</footer>