<header id="launch" class="project-header">
    <nav class="site-nav family-sans navbar navbar-expand-md bg-white navbar-light fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand project_brand" href="{{project.launchLink}}" target="_blank">{{project.title}}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <section class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link" href="/#page-projects">home</a>
                    <a class="nav-item nav-link" href="{{project.launchLink}}" target="_blank">launch</a>
                    <a class="nav-item nav-link" href="{{project.gitLink}}" target="_blank"><i class="fab fa-github project_git"></i></a>
                </div>
            </section>
        </div>
    </nav>
    <section class="project_info container-fluid">
        <div class="container-fluid">
            <img class="project_img" src="/images/{{project.imgLink}}" alt="{{project.dataLink}}">
            <p id="launch_short">{{project.shortDesc}}</p>
        </div>
        <div class="row">
            <div class="launch_build container col-2">
                <p id="build">the Build</p>
                <p id="build_items">{{project.buildItems}}</p>
            </div>
            <div class="launch_long container col-10">
                <p>{{project.longDesc}}</p>
            </div>
        </div>
    </section> {{!-- project_info --}}
</header>